#osx
.DS_Store

#node_modules
node_modules

#env variables
serverless.env.yml
serverless.env-test.yml
serverless.env-local.yml
serverless.env-dev.yml
serverless.env-staging.yml
serverless.env.prod.yml

#google creds
credentials.json

#google auth token
token.json

#node modules
node_modules

#.serverless
.serverless